/* Apply full height and center content */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  
  
}

/* Center the form container */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

/* Style the login box */
.form-container {
  background-color: rgb(202, 167, 167);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgb(0, 0, 0);
  width: 360px;
  text-align: center;
  
  margin-top: 150px;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  background-color: #f9f9f9;

}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #5e172e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: rgb(105, 204, 201);
}
.success-message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
